body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:3623px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4438_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:850px;
  height:670px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4438 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:1860px;
  width:850px;
  height:670px;
}
#u4438_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4439_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:940px;
  height:1640px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4439 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:100px;
  width:940px;
  height:1640px;
}
#u4439_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4440_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4440 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:290px;
  width:140px;
  height:40px;
}
#u4440_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u4441_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4441 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:390px;
  width:140px;
  height:40px;
}
#u4441_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u4442 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:330px;
  width:0px;
  height:0px;
}
#u4442_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:64px;
}
#u4442_seg1 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:46px;
  width:22px;
  height:22px;
}
#u4442_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:22px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4443_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:60px;
}
#u4443 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:790px;
  width:140px;
  height:60px;
}
#u4443_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:136px;
  word-wrap:break-word;
}
#u4444_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4444 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:890px;
  width:140px;
  height:40px;
}
#u4444_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u4445_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:110px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4445 {
  border-width:0px;
  position:absolute;
  left:344px;
  top:890px;
  width:313px;
  height:110px;
}
#u4445_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4446_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u4446 {
  border-width:0px;
  position:absolute;
  left:381px;
  top:899px;
  width:169px;
  height:17px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u4446_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u4447_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4447 {
  border-width:0px;
  position:absolute;
  left:381px;
  top:921px;
  width:276px;
  height:23px;
}
#u4447_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  word-wrap:break-word;
}
#u4448_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u4448 {
  border-width:0px;
  position:absolute;
  left:381px;
  top:949px;
  width:141px;
  height:17px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u4448_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u4449_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4449 {
  border-width:0px;
  position:absolute;
  left:381px;
  top:970px;
  width:276px;
  height:33px;
}
#u4449_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  word-wrap:break-word;
}
#u4450 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:820px;
  width:0px;
  height:0px;
}
#u4450_seg0 {
  border-width:0px;
  position:absolute;
  left:-254px;
  top:-4px;
  width:254px;
  height:8px;
}
#u4450_seg1 {
  border-width:0px;
  position:absolute;
  left:-254px;
  top:-4px;
  width:8px;
  height:74px;
}
#u4450_seg2 {
  border-width:0px;
  position:absolute;
  left:-261px;
  top:56px;
  width:22px;
  height:22px;
}
#u4450_text {
  border-width:0px;
  position:absolute;
  left:-210px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u4451 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:850px;
  width:0px;
  height:0px;
}
#u4451_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:44px;
}
#u4451_seg1 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:26px;
  width:22px;
  height:22px;
}
#u4451_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  word-wrap:break-word;
}
#u4452_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4452 {
  border-width:0px;
  position:absolute;
  left:344px;
  top:1030px;
  width:313px;
  height:60px;
}
#u4452_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4453_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4453 {
  border-width:0px;
  position:absolute;
  left:397px;
  top:1056px;
  width:220px;
  height:27px;
}
#u4453_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  word-wrap:break-word;
}
#u4454_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u4454 {
  border-width:0px;
  position:absolute;
  left:397px;
  top:1033px;
  width:127px;
  height:17px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u4454_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u4455 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:930px;
  width:0px;
  height:0px;
}
#u4455_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:134px;
}
#u4455_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:126px;
  width:168px;
  height:8px;
}
#u4455_seg2 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:119px;
  width:22px;
  height:22px;
}
#u4455_text {
  border-width:0px;
  position:absolute;
  left:-33px;
  top:122px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4456 {
  border-width:0px;
  position:absolute;
  left:501px;
  top:1000px;
  width:0px;
  height:0px;
}
#u4456_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:34px;
}
#u4456_seg1 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:16px;
  width:22px;
  height:22px;
}
#u4456_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:7px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4457 {
  border-width:0px;
  position:absolute;
  left:507px;
  top:1083px;
  width:0px;
  height:0px;
}
#u4457_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:51px;
}
#u4457_seg1 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:33px;
  width:22px;
  height:22px;
}
#u4457_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:16px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4458_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:50px;
  background:inherit;
  background-color:rgba(174, 174, 174, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4458 {
  border-width:0px;
  position:absolute;
  left:432px;
  top:1130px;
  width:145px;
  height:50px;
}
#u4458_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:141px;
  word-wrap:break-word;
}
#u4459_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4459 {
  border-width:0px;
  position:absolute;
  left:432px;
  top:1234px;
  width:145px;
  height:50px;
}
#u4459_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:141px;
  word-wrap:break-word;
}
#u4460_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:60px;
}
#u4460 {
  border-width:0px;
  position:absolute;
  left:435px;
  top:1338px;
  width:140px;
  height:60px;
}
#u4460_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:136px;
  word-wrap:break-word;
}
#u4461 {
  border-width:0px;
  position:absolute;
  left:505px;
  top:1284px;
  width:0px;
  height:0px;
}
#u4461_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:58px;
}
#u4461_seg1 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:40px;
  width:22px;
  height:22px;
}
#u4461_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:19px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4462_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4462 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:1343px;
  width:145px;
  height:50px;
}
#u4462_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:141px;
  word-wrap:break-word;
}
#u4463 {
  border-width:0px;
  position:absolute;
  left:435px;
  top:1368px;
  width:0px;
  height:0px;
}
#u4463_seg0 {
  border-width:0px;
  position:absolute;
  left:-180px;
  top:-4px;
  width:184px;
  height:8px;
}
#u4463_seg1 {
  border-width:0px;
  position:absolute;
  left:-188px;
  top:-11px;
  width:22px;
  height:22px;
}
#u4463_text {
  border-width:0px;
  position:absolute;
  left:-140px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u4464_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4464 {
  border-width:0px;
  position:absolute;
  left:432px;
  top:1444px;
  width:145px;
  height:50px;
}
#u4464_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:141px;
  word-wrap:break-word;
}
#u4465 {
  border-width:0px;
  position:absolute;
  left:505px;
  top:1398px;
  width:0px;
  height:0px;
}
#u4465_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:50px;
}
#u4465_seg1 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:32px;
  width:22px;
  height:22px;
}
#u4465_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:16px;
  width:100px;
  word-wrap:break-word;
}
#u4466_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4466 {
  border-width:0px;
  position:absolute;
  left:432px;
  top:1551px;
  width:145px;
  height:50px;
}
#u4466_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:141px;
  word-wrap:break-word;
}
#u4467 {
  border-width:0px;
  position:absolute;
  left:183px;
  top:1393px;
  width:0px;
  height:0px;
}
#u4467_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:187px;
}
#u4467_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:179px;
  width:253px;
  height:8px;
}
#u4467_seg2 {
  border-width:0px;
  position:absolute;
  left:235px;
  top:172px;
  width:22px;
  height:22px;
}
#u4467_text {
  border-width:0px;
  position:absolute;
  left:-17px;
  top:175px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4468 {
  border-width:0px;
  position:absolute;
  left:505px;
  top:1494px;
  width:0px;
  height:0px;
}
#u4468_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:61px;
}
#u4468_seg1 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:43px;
  width:22px;
  height:22px;
}
#u4468_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:20px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4469_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4469 {
  border-width:0px;
  position:absolute;
  left:781px;
  top:1250px;
  width:1px;
  height:17px;
}
#u4469_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  white-space:nowrap;
}
#u4470_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4470 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:80px;
  width:140px;
  height:40px;
}
#u4470_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u4471_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:60px;
}
#u4471 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:630px;
  width:140px;
  height:60px;
}
#u4471_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:136px;
  word-wrap:break-word;
}
#u4472_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4472 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:635px;
  width:140px;
  height:50px;
}
#u4472_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:136px;
  word-wrap:break-word;
}
#u4473 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:660px;
  width:0px;
  height:0px;
}
#u4473_seg0 {
  border-width:0px;
  position:absolute;
  left:-120px;
  top:-4px;
  width:124px;
  height:8px;
}
#u4473_seg1 {
  border-width:0px;
  position:absolute;
  left:-128px;
  top:-11px;
  width:22px;
  height:22px;
}
#u4473_text {
  border-width:0px;
  position:absolute;
  left:-110px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u4474_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4474 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:498px;
  width:140px;
  height:40px;
}
#u4474_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u4475 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:430px;
  width:0px;
  height:0px;
}
#u4475_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:72px;
}
#u4475_seg1 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:54px;
  width:22px;
  height:22px;
}
#u4475_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:26px;
  width:100px;
  word-wrap:break-word;
}
#u4476 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:538px;
  width:0px;
  height:0px;
}
#u4476_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:96px;
}
#u4476_seg1 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:78px;
  width:22px;
  height:22px;
}
#u4476_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:38px;
  width:100px;
  word-wrap:break-word;
}
#u4477 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:690px;
  width:0px;
  height:0px;
}
#u4477_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:104px;
}
#u4477_seg1 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:86px;
  width:22px;
  height:22px;
}
#u4477_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:42px;
  width:100px;
  word-wrap:break-word;
}
#u4478 {
  border-width:0px;
  position:absolute;
  left:505px;
  top:1180px;
  width:0px;
  height:0px;
}
#u4478_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:58px;
}
#u4478_seg1 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:40px;
  width:22px;
  height:22px;
}
#u4478_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:19px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4479 {
  border-width:0px;
  position:absolute;
  left:3610px;
  top:2530px;
  width:0px;
  height:0px;
}
#u4479_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:14px;
  height:8px;
}
#u4479_seg1 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:-10px;
  width:8px;
  height:14px;
}
#u4479_seg2 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:-16px;
  width:18px;
  height:18px;
}
#u4479_text {
  border-width:0px;
  position:absolute;
  left:-40px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4480_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4480 {
  border-width:0px;
  position:absolute;
  left:432px;
  top:1650px;
  width:145px;
  height:50px;
}
#u4480_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:141px;
  word-wrap:break-word;
}
#u4481 {
  border-width:0px;
  position:absolute;
  left:505px;
  top:1601px;
  width:0px;
  height:0px;
}
#u4481_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:53px;
}
#u4481_seg1 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:35px;
  width:22px;
  height:22px;
}
#u4481_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:16px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4482 {
  border-width:0px;
  position:absolute;
  left:570px;
  top:518px;
  width:0px;
  height:0px;
}
#u4482_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:164px;
  height:8px;
}
#u4482_seg1 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:-4px;
  width:8px;
  height:310px;
}
#u4482_seg2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:298px;
  width:164px;
  height:8px;
}
#u4482_seg3 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:292px;
  width:20px;
  height:20px;
}
#u4482_text {
  border-width:0px;
  position:absolute;
  left:110px;
  top:144px;
  width:100px;
  word-wrap:break-word;
}
#u4483_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4483 {
  border-width:0px;
  position:absolute;
  left:370px;
  top:1900px;
  width:140px;
  height:40px;
}
#u4483_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u4484_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4484 {
  border-width:0px;
  position:absolute;
  left:370px;
  top:1990px;
  width:140px;
  height:40px;
}
#u4484_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:136px;
  word-wrap:break-word;
}
#u4485 {
  border-width:0px;
  position:absolute;
  left:440px;
  top:1940px;
  width:0px;
  height:0px;
}
#u4485_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:54px;
}
#u4485_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:37px;
  width:20px;
  height:20px;
}
#u4485_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4486_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4486 {
  border-width:0px;
  position:absolute;
  left:371px;
  top:2080px;
  width:140px;
  height:40px;
}
#u4486_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u4487_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4487 {
  border-width:0px;
  position:absolute;
  left:670px;
  top:2080px;
  width:140px;
  height:40px;
}
#u4487_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u4488 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:2010px;
  width:0px;
  height:0px;
}
#u4488_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:234px;
  height:8px;
}
#u4488_seg1 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:-4px;
  width:8px;
  height:74px;
}
#u4488_seg2 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:57px;
  width:20px;
  height:20px;
}
#u4488_text {
  border-width:0px;
  position:absolute;
  left:100px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u4489_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:70px;
}
#u4489 {
  border-width:0px;
  position:absolute;
  left:364px;
  top:2166px;
  width:154px;
  height:70px;
}
#u4489_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:150px;
  word-wrap:break-word;
}
#u4490 {
  border-width:0px;
  position:absolute;
  left:441px;
  top:2120px;
  width:0px;
  height:0px;
}
#u4490_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:50px;
}
#u4490_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:33px;
  width:20px;
  height:20px;
}
#u4490_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:15px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4491_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4491 {
  border-width:0px;
  position:absolute;
  left:131px;
  top:2310px;
  width:140px;
  height:40px;
}
#u4491_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:136px;
  word-wrap:break-word;
}
#u4492 {
  border-width:0px;
  position:absolute;
  left:364px;
  top:2201px;
  width:0px;
  height:0px;
}
#u4492_seg0 {
  border-width:0px;
  position:absolute;
  left:-167px;
  top:-4px;
  width:167px;
  height:8px;
}
#u4492_seg1 {
  border-width:0px;
  position:absolute;
  left:-167px;
  top:-4px;
  width:8px;
  height:113px;
}
#u4492_seg2 {
  border-width:0px;
  position:absolute;
  left:-173px;
  top:96px;
  width:20px;
  height:20px;
}
#u4492_text {
  border-width:0px;
  position:absolute;
  left:-186px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4493_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4493 {
  border-width:0px;
  position:absolute;
  left:371px;
  top:2310px;
  width:140px;
  height:40px;
}
#u4493_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u4494 {
  border-width:0px;
  position:absolute;
  left:441px;
  top:2236px;
  width:0px;
  height:0px;
}
#u4494_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:78px;
}
#u4494_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:61px;
  width:20px;
  height:20px;
}
#u4494_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:30px;
  width:100px;
  word-wrap:break-word;
}
#u4495_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4495 {
  border-width:0px;
  position:absolute;
  left:367px;
  top:2400px;
  width:147px;
  height:40px;
}
#u4495_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:143px;
  word-wrap:break-word;
}
#u4496 {
  border-width:0px;
  position:absolute;
  left:441px;
  top:2350px;
  width:0px;
  height:0px;
}
#u4496_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:54px;
}
#u4496_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:37px;
  width:20px;
  height:20px;
}
#u4496_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4497 {
  border-width:0px;
  position:absolute;
  left:740px;
  top:2120px;
  width:0px;
  height:0px;
}
#u4497_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:85px;
}
#u4497_seg1 {
  border-width:0px;
  position:absolute;
  left:-222px;
  top:77px;
  width:226px;
  height:8px;
}
#u4497_seg2 {
  border-width:0px;
  position:absolute;
  left:-229px;
  top:71px;
  width:20px;
  height:20px;
}
#u4497_text {
  border-width:0px;
  position:absolute;
  left:-120px;
  top:73px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4498_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4498 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:1840px;
  width:140px;
  height:40px;
}
#u4498_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u4499 {
  border-width:0px;
  position:absolute;
  left:440px;
  top:2030px;
  width:0px;
  height:0px;
}
#u4499_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:54px;
}
#u4499_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:37px;
  width:20px;
  height:20px;
}
#u4499_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
